/* Custom styles */

p {
  font-size: 30px;
}

.center-600 {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.forbottom {
  width: auto;
}
.logobish {
  font-size: 60px;
  padding-left: 6px;
  padding-right: 6px;
  color: #212529;

}


.blackz {

  background-image:
  background-color: #000000;

}

/* TODO
.titlez {
  font-size: px;
}*/
